body {
  background: #f5f5f5;
  color: #333;
}
.small-centered {
  margin-top: 1rem;
}
.switch-paddle {
  float: left;
  margin-right: 1rem;
}
.completed-label {
  display: inline;
  margin-left: 1rem;
  font-size: 16px;
  cursor: pointer;
}
.todo-item {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  cursor: pointer;
  border-top: 1px solid #ccc;
  transition: .2s;
  [type=checkbox] {
    margin-bottom: 0;
  }
  &:hover {
    background: #ebebeb;
  }
}
.todo-item.completed {
  color: #ccc;
  text-decoration: line-through;
}
.todo-text {
  margin-left: .5rem;
  font-size: 18px;
}
.button {
  font-size:18px;
}
